<div class="cont">
	<div class="slider"></div>
	<ul class="nav">
	<div data-target='right' class="side-nav side-nav--right"></div>
	<div data-target='left' class="side-nav side-nav--left"></div>

	<!--Main layout-->
<main class="mt-5">
	<div class="container">
	  <!--Section: Content-->
	  <section>
		  <h1 class="display-3 text-center rounded" style="background-color: black;">About Robert James</h1>
		  <br>
		<div class="row">
		  <div class="col-md-6 gx-5 mb-4">
			<div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
			  <img src="https://d1mvkgd75mydej.cloudfront.net/portrait-bw.jpg" class="img-fluid" alt="Portrait of Robert James" />
			  <a href="#!">
				<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
			  </a>
			</div>
		  </div>
	
		  <div class="col-md-6 gx-5 mb-4">
			<h2><strong>Meet your new photographer.</strong></h2>
		
		<p>My mission is black and white. Be nice, passionate, and timely. 
			<br><br> 
			And that is exactly what you will get.</p>
		<br>

	<!--FAQ-->
		<h3 class="text-center">Frequently Asked Questions</h3> <br>
			<a class="btn btn-dark d-flex justify-content-center align-items-center" data-bs-toggle="collapse" href="#events" role="button" aria-expanded="false" aria-controls="collapseExample">
				What kinds of events do you shoot?
				</a>
				<div class="collapse" id="events">
					<div class="card card-body">
						Weddings, engagements, baby showers, graduation photos, work/holiday parties, hotdog eating contests. You know, the ususal.
					</div>
				  </div>
				  <br>

			<a class="btn btn-dark d-flex justify-content-center align-items-center" data-bs-toggle="collapse" href="#style" role="button" aria-expanded="false" aria-controls="collapseExample">
				How would you describe your style?
				</a>
				<div class="collapse" id="style">
					<div class="card card-body">
						I love capturing candid moments. Frame and colorwise, it really depends on the subject and location but I tend to gravitate toward a more cinematic feel. 
						I also love applying a retro look when appropriate. So a fuller color. I also do B&W and film variants.
					</div>
				  </div>
				  <br>

			<a class="btn btn-dark d-flex justify-content-center align-items-center" data-bs-toggle="collapse" href="#choice" role="button" aria-expanded="false" aria-controls="collapseExample">
				Are you the photographer for me?
				</a>
				<div class="collapse" id="choice">
					<div class="card card-body">
						Yes, most likely. If you want pictures, then definitely. If you want video, then probably not.
					</div>
				  </div>
				  <br>

			<a class="btn btn-dark d-flex justify-content-center align-items-center" data-bs-toggle="collapse" href="#customer" role="button" aria-expanded="false" aria-controls="collapseExample">
				Who is your typical customer?
				</a>
				<div class="collapse" id="customer">
					<div class="card card-body">
						My core customers are families, individuals, and event planners that are hosting parties, large or small, and celebrations. 
						I especially love shooting engagements and baby showers/gender reveals because there's generally a certain element of surprise that makes for wonderful facial expressions. 
						And most people these days do these events at nice locations, so it makes the job that much easier.
					</div>
				  </div>
				  <br>

			<!-- Submit button -->
			<a 
				class="btn btn-primary btn-block mb-5" 
				href="mailto:jamesframesphotos@gmail.com?subject=Photography Request"
				role="button"
				>
				Contact
				</a>
				   
		  </div>
		</div>	
	  </section>
	  <!--Section: Content-->

	  