<div id="introCarousel"  class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-bs-target="#introCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#introCarousel" data-bs-slide-to="1"></li>
  </ol>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="mask" style="background-color: rgba(60, 60, 60, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white text-center">
            <h1 class="mb-3">Event and Travel Photographer</h1>
            <h5 class="mb-4"></h5>
            <a
              class="btn btn-outline-light btn-md m-2"
              href="Gallery"
              target="Gallery"
              role="button"
              >Gallery</a
            >
            <a
              class="btn btn-outline-light btn-md m-2"
              href="mailto:jamesframesphotos@gmail.com?subject=Photography Request"
              target="Gallery"
              role="button"
              >contact</a
            >
            <a
              class="btn btn-outline-light btn-lg= m-2"
              href="About"
              target="About"
              role="button"
              >about</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white text-center">
            <h2>I handmade this site with <br>
              ASP .NET CORE + Angular </h2>
            <a
              class="btn btn-outline-light btn-md m-2"
              href="https://robertjames.herokuapp.com/"
              target="https://robertjames.herokuapp.com/"
              role="button"
              >Coding portfolio</a
            >
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#introCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#introCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>


<!--Main layout-->
<main class="mt-5">
<div class="container">
  <!--Section: Content-->
  <section>
    <div class="row">
      <div class="col-md-6 gx-5 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
          <img src="https://d1mvkgd75mydej.cloudfront.net/DSC00259.png" class="img-fluid" alt="Baby shower portrait" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 gx-5 mb-4">
        <h2><strong>Smiles, captured.</strong></h2>
        <p class="text-muted">
          It's <a class="text-decoration-none" href="Gallery">easy to see </a> why people trust me with their most special moments. 
          <br><br>
        
       
        <h4><strong>What's the secret?</strong></h4>
        <p class="text-muted">
          My process embodies passion and precision. Striking framing, sharp focus, and timely processing of your images.
        </p>
        
        <p class="text-muted">Come see <a class="text-decoration-none" href="About">what I'm all about</a>.</p>
      </div>
    </div>
  </section>
  <!--Section: Content-->

  <hr class="my-5" />

  <!--Section: Content-->
  <section class="text-center">
    <h4 class="mb-5"><strong>Recent favorites</strong></h4>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
              src="https://d1mvkgd75mydej.cloudfront.net/DSC07682.jpg"
              class="img-fluid"
            />      
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Holiday Party</h5>
            <p class="card-text">
              Low light, high fun.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
              src="https://d1mvkgd75mydej.cloudfront.net/DSC06356.jpg"
              class="img-fluid"
            />
           
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            
          </div>
          <div class="card-body">
            <h5 class="card-title">Kimono Portraiture</h5>
            <p class="card-text">
              Mother & daughter strolling through cherry blossoms in Japan.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img
              src="https://d1mvkgd75mydej.cloudfront.net/RCJ06243.jpg"
              class="img-fluid"
            />
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Ocean Beach, CA</h5>
            <p class="card-text">
              Taken by hand as the golden sun sets in beautiful California.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->

  <hr class="my-5" />

  <!--Section: Content-->
  <section class="mb-5">
    <h4 class="mb-3 text-center"><strong>Like what you see?</strong></h4>
    <h5 class="mb-6 text-center">Of course you do!</h5>

    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
  

          <!-- Submit button -->
          <a 
          class="btn btn-primary btn-block mb-4" 
          href="mailto:jamesframesphotos@gmail.com?subject=Photography Request"
          role="button"
          >
          Contact me for your event
        </a>
  
<br>
<!-- Footer -->
<footer>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright: Robert James
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->