<div class="container"> 
    <!-- Gallery -->
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <a href="https://www.redbubble.com/shop/ap/96981708?ref=studio-promote">
          <img
          src="https://d1mvkgd75mydej.cloudfront.net/DSC06317.jpg"
          class="mask w-100 shadow-1-strong rounded mb-4 hover-overlay"
          alt="Japanese cemetery"
        />
        </a>
      </div>
    
        <a href="https://www.redbubble.com/shop/ap/95168043">
        <img
          src="https://d1mvkgd75mydej.cloudfront.net/DSC02726.png"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Tokyo Sticker Art"
        />
        </a>
      </div>
    
      <div class="col-lg-4 mb-4 mb-lg-0">
        <a href="https://www.redbubble.com/shop/ap/96982454">
        <img
          src="https://d1mvkgd75mydej.cloudfront.net/20190619_0259.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Wave Upon Rock"
        />
      </a>
    
      <a href="https://www.redbubble.com/shop/ap/96982454">
        <img
          src="https://d1mvkgd75mydej.cloudfront.net/DSC03291.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Fushimi Inari: Okonomi"
        />
      </a>
      </div>
    
      <div class="col-lg-4 mb-4 mb-lg-0">
        <a href="https://www.redbubble.com/people/JamesFrames/shop?asc=u&ref=account-nav-dropdown">
        <img
          src="https://d1mvkgd75mydej.cloudfront.net/DSC03046.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Tokyo Train Tracks"
        />
        </a>
    
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>
    </div>
    <!-- Gallery -->
